<!DOCTYPE html>
<body>
  <div class="container">
    <div class="row">
      <h1>注文履歴詳細</h1>
      <div class="col-xs-8">
        <b>注文者情報</b>
        <table class="table order-show-table">
          <tbody>
            <tr>
              <td class="active">注文日</td>
              <td><%= @order.created_at.strftime('%Y/%m/%d')  %></td>
            </tr>
            <tr>
              <td class="active">名前</td>
              <td>
                <%= @order.first_name %>
              </td>
            </tr>
            <tr>
              <td class="active">苗字</td>
              <td><%= @order.last_name %></td>
            </tr>
            <tr>
              <td class="active">ユーザーネーム</td>
              <td><%= @order.user_name %></td>
            </tr>
            <tr>
              <td class="active">メールアドレス</td>
              <td><%= @order.email %></td>
            </tr>
            <tr>
              <td class="active">市区町村、番地</td>
              <td><%= @order.address %></td>
            </tr>
            <tr>
              <td class="active">住所２（任意）</td>
              <td><%= @order.address_2 %></td>
            </tr>
            <tr>
              <td class="active">国名</td>
              <td><%= @order.country %></td>
            </tr>
            <tr>
              <td class="active">都道府県</td>
              <td><%= @order.state %></td>
            </tr>
            <tr>
              <td class="active">郵便番号</td>
              <td><%= @order.zip %></td>
            </tr>
            <tr>
              <td class="active">カード名義人</td>
              <td><%= @order.name_on_card %></td>
            </tr>
            <tr>
              <td class="active">カード番号</td>
              <td><%= @order.credit_card_number %></td>
            </tr>
            <tr>
              <td class="active">有効期限</td>
              <td> <%= @order.expiration %></td>
            </tr>
            <tr>
              <td class="active">CVV</td>
              <td><%= @order.cvv %></td>
            </tr>
          </tbody>
        </table>
      </div>
      <div class="col-xs-3">
        <b>請求情報</b>
        <table class="table order-show-table">
          <tbody>
            <tr>
              <td class="active">プロモーションコード割引</td>
              <td><%= @discount %>円</td>
            </tr>
            <tr>
              <td class="active">商品合計</td>
              <td><%= @order.order_total_price_all %>円</td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
    <div class="col-xs-8">
      <b>注文内容</b>
      <table class="table order-show-table">
        <thead>
          <tr>
            <th class="active col-xs-6">商品</th>
            <th class="active">単価</th>
            <th class="active">個数</th>
            <th class="active">小計</th>
          </tr>
        </thead>
        <tbody>
          <% @order_items.each do |item| %>
            <tr>
              <td><%= item.item.name %></td>
              <td>¥<%= item.price %></td>
              <td><%= item.quantity %></td>
              <td>¥<%= item.price * item.quantity %></td>
            </tr>
          <% end %>
        </tbody>
      </table>
      <span class="badge bg-primary rounded-pill">
        <%= link_to "商品一覧へ戻る", items_path, class: "Editlink" %>
      </span>
    </div>
  </div>
</body>
