<% @items.each do |item| %>
  <div class="col mb-5">
    <%= link_to(item_path(item), class: "Editlink") do %>
      <div class="card h-100">
        <!-- Product image-->
        <% if item.item_image.attached? %>
          <%= image_tag item.item_image, class: "card-img-top" %>
        <% end %>
        <!-- Product details-->
        <div class="card-body p-4">
          <div class="text-center">
            <!-- Product name-->
            <h5 class="fw-bolder"><%= item.name %></h5>
            <!-- Product price-->
            <%= item.price %>
          </div>
        </div>
        <!-- Product actions-->
        <div class="card-footer p-4 pt-0 border-top-0 bg-transparent">
          <div class="text-center">
              <%= link_to  "Add to Cart", cart_items_path(item_id: item ), data: { turbo_method: :post }, class:"Editlink" %> 
          </div>
        </div>
      </div>
    <% end %>
  </div>
<% end %>
